.navbar-brand img {
	/* height: 70px; */
	width: 180px;
}

.navbar {
	box-shadow: 3px 4px 7px #0000001f;
}

@media (max-width: 600px) {
	.navbar-brand img {
		height: 30px;
	}

	.btn-rounded {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
